body{
    margin: 0;
    max-width: 100%;
}

@font-face{
    font-family: 'Porter Sans Block';
    src: url(../RedPlanetVentures/Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format("woff");
}

.localFont2 p{
    font-family: 'Porter Sans Block';
    font-size: 48px;
    color:crimson;
    text-align: bottom;
}

/*.flexContainer{
    display: flex;*/


p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.subheading p{
    font-family: 'Poppins', bold;
    font-size: 30px;
    /* text-align: bottom; */
}

/*.topNav {
    overflow: hidden;
    background-color: white;
    padding-top: 15px;
}

.topNav a{
    float: left;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 650;
}

.topNavRight {
    float: center;
}

.topNav a:hover {
    background-color: rgb(243, 241, 237);
    color: black;
    border-radius: 5px;
}

.topNav a.active {
    background-color: lightgoldenrodyellow;
    color: red;
    border-radius: 5px;
}*/

.backgroundImage1 {
  /* The image used */
  background-image: url(../assets/homePageHeader.png);

  /* /min-height: 380px;/ */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  width: 100%;
  max-width: 100%;
  margin: 0;

  /* Needed to position the navbar */
}

/* .backgroundImage{
    background-color: rgb(95, 123, 105);
    background-size: cover;
    padding: 650px;
} */

/*.backgroundImage1{
    background-image: url(../assets/Images/homePageHeader.png);
    background-size: cover;
    padding: 50px;
}*/


.localFont2 p{
    padding-left: 60px;
    padding-top: 620px;
}

.subheading p{
  display: flex;
    font-family: 'Poppins', bold;
    font-weight: 600;
    padding-left: 60px;
    font-size: 30px;
}

.flexContainer{
    display: flex;
}
  
  /* Position the navbar container inside the image */
  .topNav {
    position: absolute;
    margin-top: 50px;
    width: 1650px;
    align-items: center;
    /* height: 65px; */
    z-index: 9999;
  }
  
  /* The navbar */
  .topNav {
    overflow: hidden;
    background-color: #ffffffcb;
    border-radius: 30px;
    margin: 20px 70px;
  }
  
  /* Navbar links */
  .topNavRight a {
    display: inline-block;
    /* align-items: center; */
    color: #333;
    /* text-align: center; */
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  /* .topNavRight{
    position: relative;
    align-items: center;
    margin: auto;
  } */
  
  .topNav a:hover {
    color: crimson;
  }

  .topNavRight a.active{
    color: crimson;
    float: center;
  }

  .topNav img{
    float: left;
    width: 266px;
    height: 48px;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    /* padding-top: 5px; */
  }

  .topNav input[type=text] {
    float: right;
    height: 48px;
    width: 266px;
    /* padding: 10px; */
    border: none;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 10px;
    font-family: 'Poppins', regular;
    font-size: 17px;
    font-weight: 500;
    /* border-color: #ffffff; */
    background-color: #ffffff;
    justify-content: center;
    display: flex;
  }
  
  @media screen and (max-width: 600px) {
    .topNav a, .topNav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px 2px;
    }
    
    input[type=text] {
      border: 1px solid #ffffff;
      color: #000000;
    }
  
      
  }

  .nav{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .nav li{
    display: inline;
  }

  .nav a{
    display: inline-block;
  }

  backgroundImage{
    background-color: #5b3d67;
    align-items: center;
    /* padding: 650px; */
    background-repeat: no-repeat;
    padding: 100px;
}

  .flexContainer1{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .smallHeading{
    font-family: 'Poppins', medium;
    font-size: 18px;
    color: #71c17b;
    font-weight: 500;
  }

  .bigHeading p{
    font-family: 'Poppins', bold;
    font-size: 48px;
    font-weight: 700;
    color: #fceff4;
  }

  .flexItem1{
    padding: 40px;
    flex: 50%;
  }

  .flexItem1 p{
    padding-right: 40px;
  }

  .flexItem1 img{
    flex: 60%;
    width: 609px;
    height: 649px;
  }

.graph p{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fceff4;
}

.backgroundImage2{
  background-color: #fceff4;
  align-items: center;
  background-repeat: no-repeat;
  padding: 100px;
}

.flexItem1 img{
  flex: 60%;
  width: 609px;
  height: 649px;
}

.bigHeading1{
  font-family: 'Poppins', bold;
  font-size: 48px;
  color: #5b3d67;
  font-weight: 700;
}

.graph1{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #5b3d67;
  font-weight: 400;
}

.flexItem2{
  padding: 40px;
  flex: 50%;
}

.flexItem2 p{
  padding-left: 15px;
}

.flexItem2 img{
  flex: 40%;
  width: 609px;
  height: 477px;
  padding-left: 150px;
}

.flexItem3 img{
  width: 278px;
  display: block;
  padding-left: 20px;
}

.flexItem3{
  padding: 25px;
  flex: 30%;
}

.paragraphHead p{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #fceff4;
  font-weight: 500;
  text-align: center;
}

.paragraph{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fceff4;
  font-weight: 400;
  text-align: center;
}

.bigHeading2 p{
  font-family: 'Poppins',bold;
  font-size: 48px;
  color: #fceff4;
  font-weight: 700;
  text-align: center;
}

.smallHeading1 p{
  font-family: 'Poppins',sans-serif;
  font-size: 25px;
  color: #fceff4;
  font-weight: 400;
  text-align: center;
}
  